mixin menuClick()
  ul#horizontal
    li
      a(href='#') item 1
    li
      a(href='#') item 2
    li
      a(href='#') item 3
    li
      a(href='#') item 4
    li
      a(href='#') item 5
    li
      a(href='#') item 6
    li
      a(href='#') item 7
    li
      a(href='#') item 8
    li
      a(href='#') item 9
    li
      a(href='#') item 10
    li
      a(href='#') item 11
    li
      a(href='#') item 12
    li
      a(href='#') item 13
    li
      a(href='#') item 14
    li
      a(href='#') item 15
    li
      a(href='#') item 16
    li
      a(href='#') item 17
    li
      a(href='#') item 18
    li
      a(href='#') item 19
