mixin menuClick()
  .menu-btn 
    span.hamburger.hamburger--collapse
      span.hamburger-box
        span.hamburger-inner
  ul#horizontal
    li
      a(href='#') Soccer
    li
      a(href='#') Hockey
    li
      a(href='#') Backenball
    li
      a(href='#') Boxing 
    li
      a(href='#') Formula 1
    li
      a(href='#') Tennis
    li
      a(href='#') Baseball
    li
      a(href='#') American football
    li
      a(href='#') Rugby
    li
      a(href='#') Rugby 2
    li
      a(href='#') Rugby 3
    li
      a(href='#') Rugby 4
    li
      a(href='#') Rugby 5
    li
      a(href='#') Rugby 6
  